/* @font-face { */
/*     font-family: 'Bayon'; */
/*     src: url('fonts/Bayon/Bayon-Regular.ttf') format('truetype'); */
/*     font-display: fallback; */
/* } */
@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora/Lora-Regular.ttf') format('truetype');
    font-display: fallback;
}

body, html {
    width:100%;
    height:100%;
}

body {
    margin:0px;
    background: linear-gradient(0deg, #E5DEC8, #F9F8F4);
    overflow:hidden;
    
    font-family: Lora;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
    outline:none;
}

/* MAIN PANEL */
#overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    width: 240px;
    max-height: 70%;
    padding: 20px;
    background-color: #E5DEC8;/*rgba(0,0,0,0.1);*/
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 15px inset;
    user-select:none;
    overflow:hidden;
    
    transition:width 0.2s, max-height 0.2s;
}
#overlay h1 {
    font-size:2.3em;
}
#overlay h1, h2, a, p {
    margin:0px;
}
#overlay hr {
    border:none;
    border-top:1px solid gray;
}
#overlay a {
    white-space:nowrap;
}
#instructions {
    width:95%;
    margin:auto;
    text-align: left;
    padding-bottom:5px;
}
#instructions p {
    line-height:20px;
}

#host-panel {
    text-align:left;
}
#player-entries {
    max-height:200px;
    overflow-y:auto;
}
#player-entries .player:before {
    content:"⬤";
}
#player-entries .player:first-child:before {
    content:"♛";
}
#piece-combo {
    font-size:0px;
}
#piece-combo label {
    font-size:1rem;
    margin-right:5px;
}
#pieces {
    width:100px;
    border-radius:5px 0px 0px 5px;
    margin-right:0px;
}
#add-piece {
    border-radius:0px 5px 5px 0px;
}

#overlay-collapse {
    position:absolute;
    top:0px;
    right:0px;
    width:25px;
    height:25px;
    line-height:25px;
    background:rgba(0,0,0,0.75);
    color:white;
    border-radius: 0px 0px 0px 10px;
    cursor:pointer;
    text-align:center;
}

/* CHAT PANEL */

#chat-panel {
    position:absolute;
    bottom: 20px;
    right: 20px;
    width: 240px;
    padding: 20px;
    background-color: #DED6BA;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 15px inset;
    user-select:none;
    overflow-x:hidden;
    
    /*display:none;*/
    
    cursor:pointer;
    transition:opacity 0.2s;
    opacity:0.2;
}
#chat-panel #chat-entries {
    max-height:150px;
    overflow-y:auto;
}
#chat-panel #chat-input {
    margin-top:10px;
    width:100%;
    border-radius:5px;
    border:1px solid grey;
    padding:5px;
    box-sizing:border-box;

    pointer-events:none;
}
#chat-panel .entry {
    overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
    #chat-panel {
        right:5%;
        left:5%;
        width:auto;
    }
    #chat-panel #chat-entries {
        max-height:75px;
    }
}

/* HAND PANEL */

#hand-panel {
    display:flex;
    justify-content:center;
    align-items:flex-end;

    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    pointer-events:none;

    margin-bottom:-80px;
}
#hand-panel h1 {
    display:inline;
    pointer-events:auto;
}
.card {
    cursor:pointer;
    height:200px;
}
#hand-panel .card {
    display:inline-block;

    margin-left:-40px;
    pointer-events:auto;
    user-select:none;
}
#hand-panel .card:first-child {
    margin-left:0px;
}
#hand-panel .card:hover {
    margin-bottom:40px;
}
#hand-panel.minimized {
    margin-bottom:-120px;
    pointer-events:none;
}

/* CONTEXT MENU */

#context-menu {
    position:absolute;
    display:none;

    width: 150px;
    padding: 5px 0px;

    background: aliceblue;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;

    user-select:none;
}
#context-menu button, #context-menu p {
    display:block;
    width: 100%;
    padding-left: 15%;
}
#context-menu button {
    font-size:0.9em;
    border: none;
    border-radius:0px;
    background-color: transparent;
    text-align: left;
}
#context-menu button:hover {
    background-color: rgba(0,0,0,0.2);
}
#context-menu p {
    font-style: italic;
    text-transform: capitalize;
}

/* SHADE */

#shade {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:none;
}
#shade h1 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:lightgrey;
    margin:0px;
}

/* MISC */

#icon {
    position:absolute;
    left:20px;
    bottom:20px;
    width:60px;
    height:60px;
    cursor:pointer;
    user-select:none;

    background-color: #f7f5ef;
    border-radius: 10px;
    border: 1px solid #777;

    transition: background-color 0.2s;
}
#icon:hover {
    background-color: #dddbd5;
}
@media only screen and (max-width: 768px) {
    #icon {
        display:none;
    }
}

a, a:visited {
    color:#444;
}
button, select {
    font-family:inherit;
    font-size:0.75rem;
    border-radius:5px;
}
button {
    border:1px solid grey;
}

#tooltip {
    display:none;
    position:absolute;
    pointer-events:none;
    background-color:rgba(0,0,0,0.8);
    color:white;
    transform:translate(0, -100%);
    padding:3px;
    border-radius:2px;
}
