@font-face {
    font-family: 'Bayon';
    src: url('fonts/Bayon/Bayon-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora/Lora-Regular.ttf') format('truetype');
}

body, html {
    width:100%;
    height:100%;
}

body {
    margin:0px;
    background: linear-gradient(0deg, #E5DEC8, #F9F8F4);
    font-family: Lora;
    overflow:hidden;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
    outline:none;
}

/* MAIN PANEL */
#overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    width: 240px;
    padding: 20px;
    background-color: #E5DEC8;/*rgba(0,0,0,0.1);*/
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 15px inset;
    user-select:none;
    overflow-x:hidden;
}
#overlay h1 {
    font-size:2.3em;
}
#overlay h1, h2, a, p {
    margin:0px;
}
#overlay hr {
    border:none;
    border-top:1px solid gray;
}
#overlay a {
    white-space:nowrap;
}
#instructions {
    width:95%;
    margin:auto;
    text-align: left;
    padding-bottom:5px;
}
#instructions p {
    line-height:20px;
}

#host-panel {
    text-align:left;
}

/* CHAT PANEL */

#chat-panel {
    position:absolute;
    bottom: 20px;
    right: 20px;
    width: 240px;
    padding: 20px;
    background-color: #DED6BA;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 15px inset;
    user-select:none;
    overflow-x:hidden;
    
    /*display:none;*/
    
    pointer-events:none;
    transition:opacity 0.2s;
    opacity:0.2;
}
#chat-panel #chat-entries {
    max-height:150px;
    overflow-y:auto;
}
#chat-panel #chat-input {
    margin-top:10px;
    width:100%;
    border-radius:5px;
    border:1px solid grey;
    padding:5px;
    box-sizing:border-box;
}

/* HAND PANEL */
#hand-panel {
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    pointer-events:none;
}
#hand-panel h1 {
    display:inline;
    pointer-events:auto;
}
#hand-panel img {
    display:inline;
    pointer-events:auto;
    cursor:pointer;
    height:200px;
    margin-left:-80px;
    margin-bottom:-80px;
    transition:margin-bottom 0.2s;
    user-select:none;
}
#hand-panel img:first-child {
    margin-left:0px;
}
#hand-panel img:hover {
    margin-bottom:0px;
}
#hand-panel.minimized img {
    margin-bottom:-120px;
    pointer-events:none;
}

/* SHADE */

#shade {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:none;
}
#shade h1 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:lightgrey;
    margin:0px;
}

/* MISC */

#icon {
    position:absolute;
    left:20px;
    bottom:20px;
    width:60px;
    height:60px;
    cursor:pointer;
    user-select:none;
}

a, a:visited {
    color:#444;
}
button, select {
    font-family:inherit;
    font-size:0.75rem;
    border-radius:5px;
}
button {
    border:1px solid grey;
}
