<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
    <head>
        <title>BirdGa.me - Simple Boardgames</title>
        <meta name="description" content="Multiplayer boardgames online.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <script>window.version='{{version}}';</script>
        <script src="static/bundle.js?v={{version}}"></script>

        <link rel="preload" href="static/fonts/Lora/Lora-Regular.ttf" as="font" crossorigin>
        <link rel="stylesheet" href="static/index.css?v={{version}}">
    </head>
    <body>
        <canvas id="display" tabindex='1'></canvas>

        <div id="overlay">
            <div id="overlay-collapse">-</div>
            <p><b>Share this link:</b></p>
            <a id="game-link" href="#"></a>
            <div id="host-panel" style="display:none;">
                <hr>
                
                <label for="games">Choose a game:</label>
                <select name="games" id="games">
                </select>
                
                <br>
                
                <div id="piece-combo">
                    <label for="pieces">Add a piece:</label>
                    <select name="pieces" id="pieces"></select>
                    <button id="add-piece">Add</button>
                </div>
            </div>
            <hr>
            <p style="margin-bottom:5px"><b>Controls:</b></p>
            <div id="instructions">
                <p>Click + drag to look</p>
                <p>Right click + drag (or WASD) to pan</p>
                <p>Click to pick up/put down:</p>
                <p style="padding-left:0.2em;letter-spacing:-0.05rem;">└ Right click to pick from a deck</p>
                <p>While holding an object:</p>
                <p style="padding-left:0.2em">└ F to flip, and Q/E to rotate</p>
                <p style="padding-left:0.2em;letter-spacing:-0.05rem;">└ G to add a card to your hand</p>
            </div>
            <hr>
            <h1>Players</h1>
            <div id="player-entries"></div>
        </div>

        <bird-chat></bird-chat>
        <bird-hand></bird-hand>
        <bird-tooltip></bird-tooltip>
        <bird-context-menu></bird-context-menu>

        <a href="https://github.com/TesseractCat/bg3d" target="_blank">
            <img id="icon" src="static/small_icon.png" alt=""></img>
        </a>
        <div id="shade">
            <h1>CONNECTION LOST</h1>
        </div>
    </body>
</html>
